<ion-header>
  <ion-toolbar>

      <ion-buttons size="large" fill="clear" slot="start">
        <ion-back-button defaultHref="/detalhe-bolo/{{bolo?.id}}" text="Voltar">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </ion-buttons>

      <ion-title>
        <ion-label>Seu pedido</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-list-header color="medium" lines="inset">
        <ion-label>
          <h2>Bolo escolhido</h2>
        </ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label>{{bolo?.nome}} por R$ {{bolo?.valor}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-list>
      <ion-list-header color="medium" lines="none">
        <ion-label>
          <h2>Dados para entrega</h2>
        </ion-label>
      </ion-list-header>

        <ion-item>
          <ion-label position="floating" color="medium">Seu nome</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="medium">Telefone</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="medium">Endereço</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

      </ion-list>
  </ion-card>

  <ion-card>
    <ion-button (click)="carregandoConfirmacaoPedido()" expand="block" size="large" color primary fill="outline"><ion-icon slot="start" name="cart-outline"></ion-icon> Confirmar pedido</ion-button>
  </ion-card>

</ion-content>
