
<ion-header>
  <ion-toolbar>

      <ion-buttons size="large" fill="clear" slot="start">
        <ion-back-button defaultHref="/" text="Voltar">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </ion-buttons>

      <ion-title>
        <ion-label>{{bolo?.nome}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="{{bolo?.imgUrl}}" alt="">
    <ion-card-header>
      <ion-card-title>{{bolo?.nome}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{bolo?.descricao}}
    </ion-card-content>
  </ion-card>
  
  <ion-card>

    <ion-button [routerLink]="['/carrinho', bolo?.id]" expand="block" size="large" color primary fill="outline"><ion-icon slot="start" name="cart-outline"></ion-icon> Realizar pedido</ion-button>
    
  </ion-card>
    
</ion-content>
