<ion-header>
  <ion-toolbar>
    <ion-title>Nossos bolos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item *ngFor="let b of bolos" [routerLink]="['/detalhe-bolo', b.id]" slot="start">

        <img src={{b?.imgUrl}} alt={{b?.name}}>

        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h2>{{b?.nome}}</h2>
          <ion-text color="primary">Por apenas R$ {{b?.valor}}</ion-text>
          <p>{{b?.descricao}}</p>
        </ion-label>
        
    </ion-item>
  </ion-list>

</ion-content>