<ion-header>
  <ion-toolbar>
    <ion-title>Nossos bolos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button slot="start" *ngFor="let bolo of bolos">

        <img src={{bolo.urlImagem}}>

        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h2>{{bolo.nome}}</h2>
          <ion-text color="primary">Por apenas R$ {{bolo.valor}}</ion-text>
          <p>{{bolo.descricao}}</p>
        </ion-label>
        
    </ion-item>
  </ion-list>


  <!--(click)="teste()" ->>
<!-- <ion-list>
   <ion-item button *ngFor="let bolo of bolos">  
    <ion-thumbnail slot="start" size="large" >
      <img src={{bolo.urlImagem}}>
    </ion-thumbnail>
    <ion-label>
      <h2>{{bolo.nome}}</h2>
      <p>apenas R$ {{bolo.valor}}</p>
    </ion-label>
  </ion-item>
</ion-list>  -->


</ion-content>
