<ion-header>
  <ion-toolbar>
    <ion-title>Nossos bolos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ios list-ios hydrated">


    <ion-item class="" slot="start" *ngFor="let bolo of bolos">
      
        <img src={{bolo.urlImagem}}>

        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h2>Bolo caramelo de abacaxi</h2>
          <h3>apenas R$ 18,00</h3>
          <p>A banana é um tipo de pseudofruto rico em...</p>
        </ion-label>
    </ion-item>

  </ion-list>

      
</ion-content>
